@use './devices';

@mixin section-title {
	font-family: 'Exo';
	color: #fca4a4;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 800;
	margin: 0px auto;
	padding-top: 50px;
	text-align: center;
}

/* change to mixin */
@mixin section-body {
	height: 100vh;
	margin: 0px auto;

	@include devices.phone {
		height: 80vh;
	}

	@include devices.tablet {
		height: 80vh;
	}

	@include devices.tablet-landscape {
		height: 80vh;
	}

	@include devices.laptop {
		height: 80vh;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
