@use './devices';

%section-title {
	font-family: 'Exo';
	color: #fca4a4;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 300;
	margin: 50px auto;
	text-align: center;
}

/* change to mixin */
%section-body {
	height: 100vh;
	margin: 80px auto;
	display: flex;
	justify-content: center;
	padding-top: 75px;

	@include devices.phone {
		height: 60vh;
	}

	@include devices.tablet {
		height: 70vh;
	}

	@include devices.tablet-landscape {
		height: 70vh;
	}

	@include devices.laptop {
		height: 80vh;
	}
}
