/*--------------------------GENERAL STYLING ---------------- */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #252426;
  color: #c6c0be;
}

/* Placeholder for title */
.section__title {
  font-family: "Exo";
  color: #fca4a4;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 85px auto 25px auto;
  text-align: center;
}

/*--------------------------NAVBAR ---------------- */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 55555;
  background-color: #353440;
  display: flex;
  justify-content: space-around;
  height: 75px;
}
.navbar__logo {
  font-family: "Exo", sans-serif;
  color: #fca4a4;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.navbar__logo--thick {
  font-weight: 800;
  padding-right: 3px;
}
.navbar__logo--thin {
  font-weight: 300;
}
.navbar__links {
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .navbar__links {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar__links {
    display: none;
  }
}
.navbar__link > a {
  color: #c6c0be;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 4px;
}
.navbar__link > a:hover {
  background-color: #747c8c;
  font-weight: bold;
  color: #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.navbar__icon {
  display: none;
}

/*--------------------------WELCOME ---------------- */
.welcome {
  background: url(img/emile-perron-xrVDYZRGdw4-unsplash.jpg);
  background-size: cover;
  filter: grayscale(35%);
}
.welcome__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 576px) {
  .welcome__block {
    height: 50vh;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .welcome__block {
    height: 60vh;
  }
}
.welcome__title {
  color: #f2f2f2;
  font-size: 35px;
  font-weight: 500;
}

/*--------------------------ABOUT ---------------- */
.about {
  height: 80vh;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .about {
    height: 50vh;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about {
    height: 50vh;
    margin: 20px auto;
  }
}
.about__container {
  width: 80vw;
}
@media only screen and (max-width: 576px) {
  .about__container {
    width: 90vw;
  }
}
.about__block {
  display: flex;
  flex-direction: row;
}
.about__block--right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
}
.about__techs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.about__img {
  width: 200px;
  object-fit: cover;
}
.about__text {
  font-size: 14px;
  font-weight: 300;
}

/*--------------------------PROJECTS ---------------- */
.projects {
  width: 80vw;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .projects {
    width: 80vw;
    margin: 40px auto;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects {
    width: 80vw;
    margin: 40px auto;
  }
}
.projects__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media only screen and (max-width: 576px) {
  .projects__gallery {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects__gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
.projects__image {
  height: 250px;
  width: 250px;
  padding: 15px;
  border: 1px solid rgba(198, 192, 190, 0.0823529412);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}
.projects__image:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: none;
  transform: scale(1.1);
}
@media only screen and (max-width: 576px) {
  .projects__image {
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects__image {
    width: 35vw;
  }
}

/*--------------------------CONTACT ---------------- */
.contact {
  margin: 80px auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__container {
  margin: 0px auto;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  text-align: center;
}
.contact__label {
  padding: 20px;
  font-weight: 300;
  font-size: 18px;
}
.contact__input {
  width: 100%;
  border: 0px;
  border-radius: 25px;
  padding: 20px;
  font-family: "Source Code Pro";
  font-size: 14px;
  background-color: #f2f2f2;
}
@media only screen and (max-width: 576px) {
  .contact__input {
    width: 80vw;
  }
}
.contact__icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.contact__icons > a {
  margin-top: 25px;
  text-decoration: none;
  color: #c6c0be;
}
.contact__icons > a :hover {
  text-decoration: none;
  color: #c6c0be;
}
.contact__button {
  font-family: "Source Code Pro";
  font-size: 18px;
  background-color: rgba(252, 164, 164, 0.4039215686);
  width: 150px;
  margin: 20px auto 0px auto;
  padding: 15px;
  border: 1px solid rgba(252, 164, 164, 0.4039215686);
  border-radius: 35px;
}
.contact__button:hover {
  background-color: rgba(252, 164, 164, 0.7803921569);
  width: 150px;
  margin: 20px auto 0px auto;
  padding: 15px;
  border: 1px solid rgba(252, 164, 164, 0.4039215686);
  border-radius: 35px;
  cursor: pointer;
}

/*--------------------------Footer ---------------- */
.footer {
  width: 100vw;
  height: 60vh;
  background-color: #353440;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  font-family: "Exo", sans-serif;
  color: #fca4a4;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.footer__logo--thick {
  font-weight: 800;
  padding-right: 3px;
}
.footer__logo--thin {
  font-weight: 300;
}
.footer__date {
  padding-top: 25px;
  font-weight: 300;
}
