/* sass --watch --no-source-map style.scss style.css */

@use './partials/devices';
@use './partials/palette' as colors;
@use './partials/fonts' as fonts;
@use './partials/mixins' as mixins;
@use './partials/placeholders';
/*--------------------------GENERAL STYLING ---------------- */
*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
}

html,
body {
	font-family: fonts.$font-exo;
	background-color: #353440;
	color: #f2f2f2ee;
	scroll-behavior: smooth;
}

/*------ Placeholders ------ */

.section__title {
	@include mixins.section-title;
}

/*--------------------------NAVBAR ---------------- */
.navbar {
	position: sticky;
	background-color: #3534408e;
	top: 0px;
	z-index: 55555;
	display: flex;
	justify-content: space-around;
	height: 75px;

	@include devices.phone {
		position: relative;
	}

	&__logo {
		color: #fca4a4;
		text-shadow: 2px 2px #0000001f;
		font-size: 20px;
		display: flex;
		align-items: center;

		&--thick {
			font-weight: 800;
			padding-right: 3px;
		}

		&--thin {
			font-weight: 300;
		}
	}

	&__links {
		font-size: 14px;
		font-weight: 300;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		& > a {
			color: #fca4a4;
			text-decoration: none;
			padding: 15px 10px;
			border-radius: 2px;
			display: block;

			@include devices.phone {
				display: none;
			}

			@include devices.tablet {
				display: none;
			}

			@include devices.tablet-landscape {
				display: none;
			}

			&:hover,
			&:focus {
				font-weight: bolder;
				font-size: larger;
			}
		}
	}

	&__link {
		&--icon {
			display: none;
			@include devices.phone {
				display: inline-block;
			}

			@include devices.tablet {
				display: inline-block;
			}

			@include devices.tablet-landscape {
				display: inline-block;
			}
		}
	}
}

/*--------------------------WELCOME ---------------- */
.welcome {
	@include mixins.section-body;

	display: flex;
	margin-top: -75px;
	justify-content: left;
	align-items: center;
	background: url(img/emile-perron-xrVDYZRGdw4-unsplash.jpg);
	background-size: cover;
	padding-left: 15%;

	@include devices.phone {
		justify-content: left;
		align-items: center;
		padding-left: 15px;
	}

	@include devices.tablet {
		justify-content: left;
		align-items: center;
	}

	@include devices.tablet-landscape {
		justify-content: left;
		align-items: center;
	}

	@include devices.laptop {
		justify-content: left;
		align-items: center;
	}

	&__title {
		color: #f2f2f2ef;
		font-size: 35px;
		font-weight: 800;

		@include devices.phone {
			font-size: 30px;
		}
	}
}

/*--------------------------ABOUT ---------------- */
.about {
	@extend %section-body;
	@include mixins.flex-center;

	&__container {
		width: 50rem;
		padding: 50px;
		background-color: #c6c0be0e;
		border-radius: 2px;
		box-shadow: 1px 1px 20px #f2f2f21a;

		@include devices.phone {
			width: 50rem;
		}
	}

	&__block {
		display: inline-flex;

		@include devices.phone {
			@include mixins.flex-center;
			flex-direction: column;
		}

		@include devices.tablet {
			@include mixins.flex-center;
			flex-direction: column;
		}

		@include devices.tablet-landscape {
			@include mixins.flex-center;
			flex-direction: column;
		}

		&--right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 15px;

			@include devices.phone {
				padding-top: 30px;
			}

			@include devices.tablet {
				padding-top: 30px;
			}

			@include devices.tablet-landscape {
				padding-top: 30px;
			}

			@include devices.laptop {
				padding-top: 30px;
			}
		}
	}

	&__img {
		width: 300px;
		height: 300px;
		border-radius: 150px;
		object-fit: cover;
	}

	&__text {
		font-family: 'Exo';
		font-size: 14px;
		font-weight: 300;
	}

	&__techs {
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding-top: 20px;
	}
}

/*--------------------------PROJECTS ---------------- */

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	width: 80vw;
	padding-top: 75px;
	margin: 0 auto;
	background-color: #c6c0be0e;
	border-radius: 2px;
	box-shadow: 1px 1px 20px #f2f2f21a;

	&__gallery {
		width: 80%;
		padding: 3rem 10rem;
		display: grid;
		grid-template: repeat(4, 1fr) / repeat(4, 1fr);
		gap: 15px;

		@include devices.phone {
			@include mixins.flex-center;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		@include devices.tablet {
			@include mixins.flex-center;
			flex-direction: column;
		}

		@include devices.tablet-landscape {
			@include mixins.flex-center;
			flex-direction: column;
		}

		@include devices.laptop {
			@include mixins.flex-center;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__image {
		border: 1px solid #c6c0be15;
		border-radius: 5px;
		// box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.075);
		overflow: hidden;
		cursor: pointer;

		@include devices.phone {
			width: 300px;
			height: 300px;
		}

		@include devices.tablet {
			width: 300px;
			height: 300px;
		}

		@include devices.tablet-landscape {
			width: 300px;
			height: 300px;
		}

		@include devices.laptop {
			width: 300px;
			height: 300px;
		}

		& > img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&:hover {
			box-shadow: 1px 1px 20px #c6c0be1c;
			transition: 0.2s linear;
			transform: scale(1.05);
		}

		&--juli {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}

		&--mid {
			grid-column: 3 / span 2;
			grid-row: 2 / span 2;
		}

		&--github {
			display: flex;
			flex-direction: column;
			font-size: 3rem;
			justify-content: center;
			align-items: center;
			transition: 0.1s linear;
			background-color: #202025;

			& > p {
				padding-top: 10px;
				font-weight: 300;
				font-size: 1rem;

				& > a {
					text-decoration: none;
					color: #f2f2f2;
				}
			}

			&:hover {
				transform: scale(1.02);
			}
		}
	}

	&__popup {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.87);
		height: 100%;
		width: 100%;
		z-index: 10;
		display: none;

		& > span {
			position: absolute;
			top: 75px;
			right: 10px;
			font-size: 40px;
			font-weight: bolder;
			color: #e4e2e2;
			cursor: pointer;
			z-index: 10;
		}

		& > h2 {
			position: absolute;
			bottom: 50px;
			right: 50px;
			font-size: 40px;
			font-weight: bolder;
			color: #e4e2e2;
			cursor: pointer;
			z-index: 10;
		}

		& > img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 750px;
			object-fit: cover;

			@include devices.phone {
				width: 95%;
			}

			@include devices.tablet {
				width: 95%;
			}

			@include devices.tablet-landscape {
				width: 95%;
			}

			@include devices.laptop {
				width: 95%;
			}
		}
	}
}

/*--------------------------CONTACT ---------------- */
.contact {
	@extend %section-body;
	@include mixins.flex-center;

	@include devices.phone {
		height: 100%;
	}

	@include devices.tablet {
		height: 100%;
	}

	@include devices.tablet-landscape {
		height: 100%;
	}

	@include devices.laptop {
		height: 100vh;
	}

	&__container {
		margin: 0px auto;
		background-color: #c6c0be0e;
		width: 50rem;
		border-radius: 5px;
		padding: 50px;
		border-radius: 2px;
		box-shadow: 1px 1px 20px #f2f2f21a;
	}

	&__form {
		@include mixins.flex-center;
		flex-direction: column;
		padding: 20px 0px;
	}

	&__label {
		padding: 20px;
		font-weight: 300;
		font-size: 18px;
	}

	&__input {
		width: 300px;
		border: 0px;
		border-radius: 25px;
		padding: 20px;
		font-family: 'Source Code Pro';
		font-size: 14px;
		background-color: #f2f2f2;

		@include devices.phone {
			width: 80vw;
		}
	}

	&__icons {
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	&__icons > a {
		padding: 20px;
		text-decoration: none;
		color: #c6c0be;

		:hover {
			text-decoration: none;
			color: #e4e2e2;
		}
	}
	&__button {
		font-family: fonts.$font-exo;
		font-size: 18px;
		background-color: #fca4a467;
		width: 150px;
		margin: 20px auto 0px auto;
		padding: 15px;
		border: 1px solid #fca4a467;
		border-radius: 35px;

		&:hover {
			background-color: #fca4a4c7;
			width: 150px;
			margin: 20px auto 0px auto;
			padding: 15px;
			border: 1px solid #fca4a467;
			border-radius: 35px;
			cursor: pointer;
		}
	}
}

/*--------------------------Footer ---------------- */
.footer {
	@include mixins.flex-center;
	height: 50vh;
	background-color: #353440;
	flex-direction: column;

	&__logo {
		@include mixins.flex-center;
		color: #fca4a4;
		font-size: 20px;

		&--thick {
			font-weight: 800;
			padding-right: 3px;
		}

		&--thin {
			font-weight: 300;
		}
	}

	&__date {
		padding-top: 25px;
		font-weight: 300;
	}
}
